node_red/overallFlow_code.txt
[{"id":"5435d3a5.fa791c","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"256ff468.dd8b1c","type":"telegram receiver","z":"5435d3a5.fa791c","name":"Test","bot":"a5308986.aacb68","saveDataDir":"aaa","filterCommands":false,"x":130,"y":360,"wires":[["f3758b26.8ec5e8"],[]]},{"id":"f3758b26.8ec5e8","type":"function","z":"5435d3a5.fa791c","name":"bbb","func":"recv = msg.payload.content;\ncheck = \"test\"\nif (recv == check){\n    msg.payload =1;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":360,"wires":[["b5f779b6.ae1ec8"]]},{"id":"b5f779b6.ae1ec8","type":"template","z":"5435d3a5.fa791c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<br><hr><br>\n안녕친구들","output":"str","x":540,"y":360,"wires":[["6bb1ac25.41caa4"]]},{"id":"6bb1ac25.41caa4","type":"http request","z":"5435d3a5.fa791c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1331389830:AAHkvkF7wkIImtM5FY0_XmOE6sVOG4a9jFg/sendMessage?chat_id=1189633330&text={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":420,"wires":[["81f15a4f.2f0728"]]},{"id":"db280a89.1bfea8","type":"template","z":"5435d3a5.fa791c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Reservation Info\n\nname : {{payload.Name}}\n\nnumber of people : {{payload.People}}\n\ndate : {{payload.date}}\n\netc : {{payload.Phone}}","output":"str","x":540,"y":420,"wires":[["6bb1ac25.41caa4"]]},{"id":"6020b05b.0820f","type":"http in","z":"5435d3a5.fa791c","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":480,"wires":[["1ac71b08.b61f65","eff7f501.b0c6d8","e4ed864.e9f8878"]]},{"id":"1ac71b08.b61f65","type":"function","z":"5435d3a5.fa791c","name":"sendchatbot","func":"\nmsg.payload = {\"Name\" : msg.payload.Name,\n                \"People\" : msg.payload.People,\n                \"date\" : msg.payload.date,\n                \"Phone\" : msg.payload.Phone\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":420,"wires":[["db280a89.1bfea8"]]},{"id":"f2603fd0.0eaa5","type":"http request","z":"5435d3a5.fa791c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":540,"wires":[["183f8639.59039a"]]},{"id":"183f8639.59039a","type":"http response","z":"5435d3a5.fa791c","name":"","statusCode":"","headers":{},"x":710,"y":540,"wires":[]},{"id":"eff7f501.b0c6d8","type":"function","z":"5435d3a5.fa791c","name":"sendcontroller","func":"msg.method = 'post';\nmsg.url = \"http://localhost/project_pizzahot/Controller?\"+\"Name=\"+msg.payload.Name\n+\"&People=\"+msg.payload.People+\"&date=\"+msg.payload.date+\"&Phone=\"+msg.payload.Phone+\"&command=addGuest\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["f2603fd0.0eaa5"]]},{"id":"e4ed864.e9f8878","type":"function","z":"5435d3a5.fa791c","name":"senduiform","func":"\nmsg.payload = {\"Name\" : msg.payload.Name,\n                \"People\" : msg.payload.People,\n                \"date\" : msg.payload.date,\n                \"Phone\" : msg.payload.Phone\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":480,"wires":[["360ff200.5a7f9e"]]},{"id":"360ff200.5a7f9e","type":"template","z":"5435d3a5.fa791c","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h2>Reservation Info</h2>\n<br>\nname : {{payload.Name}}\n<br>\nnumber of people : {{payload.People}}\n<br>\ndate : {{payload.date}}\n<br>\netc : {{payload.Phone}}\n\n<form action=\"http://localhost/project_pizzahot/demo4.jsp\">\n    <input type=\"submit\" value=\"뒤로가기\">\n</form>","output":"str","x":540,"y":480,"wires":[["eca743a9.e044f"]]},{"id":"eca743a9.e044f","type":"http response","z":"5435d3a5.fa791c","name":"","statusCode":"","headers":{},"x":710,"y":480,"wires":[]},{"id":"81f15a4f.2f0728","type":"debug","z":"5435d3a5.fa791c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"a5308986.aacb68","type":"telegram bot","botname":"aaa","usernames":"","chatids":"1189633330","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]